Malformed Date header in mails depending on systems locale settings

When sending mails, tripwire formats the Date header according to the locale in the LC_TIME environment variable. That header for mails should always be in the format specified in RFC 5322 section 3.3 and not be dependent on systems locale settings. Otherwise mails will be rejected by several strict mail servers. 

I've noticed this behavior on the following version
`Open Source Tripwire(R) 2.4.3.7.0 built for x86_64-pc-linux-gnu`
